<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments.html :: head"></head>

<body>

    <nav th:replace="fragments.html :: main-nav"></nav>

    <!--내용-->
    <div class="col-2">
        <div th:replace="fragments.html :: study-settings-menu(currentMenu='image')"></div>
    </div>
    <div class="col-8">

        <form th:if="${!study.useBanner}" th:action="@{|/study/${study.getPath()}/banner/enable|}">
            <div class="alert alert-primary" role="alert">
                스터디 메뉴에서 스터디 배너 이미지를 사용합니다. 스터디 배너 이미지를 아직 설정하지 않았다면, 기본 배너 이미지를 사용합니다.
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-block" type="submit" aria-describedby="submitHelp">배너 이미지 사용하기</button>
            </div>
        </form>



    </div>

    <!--내용 완료-->

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

<footer th:replace="fragments.html :: footer"></footer>

<script type="application/javascript" th:replace="fragments.html :: form-validation"></script>


</html>














