<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>

<body>

    <nav th:replace="fragments.html :: main-nav"></nav>

    <!--내용-->
    <div class="container">
        <div th:replace="fragments.html :: study-info"></div>
        <div th:replace="fragments.html :: study-menu(studyMenu='settings')"></div>
        <div class="row mt-3 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: study-settings-menu(currentMenu='tags')"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-sm-12">스터디 주제</h2>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-info" role="alert">
                            스터디에서 주로 다루는 주제를 태그로 등록하세요. 태그를 입력하고 콤마(,) 또는 엔터를 입력하세요.
                        </div>
                        <div id="whitelist" th:text="${whitelist}" hidden>
                        </div>
                        <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}"
                               class="tagify-outside" aria-describedby="tagHelp">
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>

    <!--내용 완료-->

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

<footer th:replace="fragments.html :: footer"></footer>

<script type="application/javascript" th:replace="fragments.html :: form-validation"></script>

<script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript" th:inline="javascript">
    var input = document.querySelector('input[name=tags]')

    $(function() {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/study/" + [[${study.path}]] + "/tags" + url,
                data: JSON.stringify({'title': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onRemove(e){
            console.log('onRemove',e);
            e.forEach(tag => tagRequest('/remove', tag.value));
        }

        function onAdd(e){
            console.log('onAdd',e);
            e.forEach(tag => tagRequest('/add', tag.value));
        }

        let whitelist = [[${whitelist}]];
        let parseVal = JSON.parse(whitelist);
        console.log('whitelist',parseVal);

        // init Tagify script on the above inputs
        var tagify = new Tagify(input, {
            whitelist: parseVal,
            dropdown: {
                position: "input",
                enabled : 0 // always opens dropdown when input gets focus
            }
        });

        tagify.on('add',onAddTag)
            .on('remove',onRemoveTag);

        // 이벤트 리스너 콜백 메소드
        function onAddTag(e){
            tagRequest('/add', e.detail.data.value);
        }

        // tag remvoed callback
        function onRemoveTag(e){
            tagRequest('/remove', e.detail.data.value);
        }




    });
    //2. insert 부분을 가져와서 whitelist에 반영



</script>

</html>














